<a href="#menu" class="z-100 transition left-0 bg-black text-white absolute p-3 m-3 -translate-y-16 focus:translate-y-0">Aller au menu</a>
<a href="#main" class="z-100 transition left-0 bg-black text-white absolute p-3 m-3 -translate-y-16 focus:translate-y-0">Aller au contenu</a>
<a href="#footer" class="z-100 transition left-0 bg-black text-white absolute p-3 m-3 -translate-y-16 focus:translate-y-0">Aller au pied de page</a>
