parameters:
    liip_imagine.cwebp.binary: '%env(CWEBP_PATH)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    Redis:
        class: Redis
        factory: ['@App\Infrastructure\Redis\RedisProvider', 'get']
        arguments:
            - '%env(REDIS_DSN)%'
