.wrapper {
    @apply mx-auto max-w-7xl px-6;
}

.auto-grid {
    --max-column-width: 100% / var(--auto-grid-max-columns, infinity) - var(--auto-grid-gap, 1rem);
    --column-width: max(
        var(--max-column-width),
        min(var(--auto-grid-min-size, 10rem), 100%)
    );

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));

    /* vertical gap falls back to general gap then falls back to 1rem*/
    gap: var(--auto-grid-gap-vertical, var(--auto-grid-gap, 1rem))
    var(--auto-grid-gap, 1rem);
}
