@theme {
    --font-sans: 'Inter Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-display: 'Plus Jakarta Sans Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    --color-white: oklch(0.9997 0.0013 106.42);
    --color-black: oklch(0.326 0.0418 272.66);
    --color-headline: oklch(0.2776 0.058 287.74);
    --color-secondary: oklch(0.9589 0.02 193.01);
    --color-tertiary: oklch(0.8989 0.0474 196.34);
    --color-highlight: oklch(0.8888 0.1824 95.73);
    --color-destructive: oklch(0.3697 0.1435 28.06);

    --text-step-0: clamp(1.125rem, 1.0761rem + 0.2174vw, 1.25rem);
    --text-step-1: clamp(1.2004rem, 1.0587rem + 0.6298vw, 1.5625rem);
    --text-step-2: clamp(1.2808rem, 1.0177rem + 1.1693vw, 1.9531rem);
    --text-step-3: clamp(1.3666rem, 0.946rem + 1.8692vw, 2.4414rem);
    --text-step-4: clamp(1.4582rem, 0.8346rem + 2.7714vw, 3.0518rem);
    --text-step-5: clamp(1.5559rem, 0.672rem + 3.9284vw, 3.8147rem);

    --text-step-0--line-height: 1.3;
    --text-step-1--line-height: 1.3;
    --text-step-2--line-height: 1.3;
    --text-step-3--line-height: 1.1;
    --text-step-5--line-height: 1.1;
    --text-step-4--line-height: 1.1;
}

