name: Run tests

on:
    push:
        branches:
            - '**'
    pull_request:
    workflow_dispatch:

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  extensions: mbstring, intl, pdo_mysql, redis
                  tools: composer
                  coverage: xdebug

            - name: Install Redis
              run: |
                  sudo apt-get update
                  sudo apt-get install -y redis-server
                  sudo systemctl start redis-server
                  sudo systemctl status redis-server --no-pager

            - name: Verify Redis connection
              run: redis-cli ping

            - name: Prepare test database (SQLite)
              run: |
                  mkdir -p var/db
                  touch var/db/data_prod.db
                  touch var/db/data_dev.db
                  touch var/db/data_test.db

            - name: Get composer cache directory
              id: composer-cache
              run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            - name: Cache composer dependencies
              uses: actions/cache@v3
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: ${{ runner.os }}-composer-

            - name: Install dependencies
              run: composer install --no-interaction --no-progress --prefer-dist

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22.18.0'

            - name: Install JS dependencies
              run: npm ci

            - name: Build assets
              run: npm run build

            - name: Run PHPUnit tests
              env:
                  XDEBUG_MODE: coverage
                  REDIS_URL: redis://127.0.0.1:6379
              run: bin/phpunit --testdox --colors=always  --display-skipped
